/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Larger desktops
$screen-xxl-min: 1500px;

// Even larger desktops
$screen-xxxl-min: 1800px;

// Colors
$white: #fff;
$dark: #262833;
$purple: #7D8AE3;
$orange: #FFB057;
$orange-light: #FFA48B;
$green: #42D0AC;
